server:
  port: 8005
spring:
  application:
    name: service-goods
  cloud:
    nacos:
      config:
        server-addr: localhost:8848
        namespace: 4c8be956-4508-4215-bca7-96c28a188773
        group: dev
        file-extension: yaml
        prefix: service-goods-dev
      discovery:
        server-addr: localhost:8848
        namespace: 4c8be956-4508-4215-bca7-96c28a188773
        group: dev
        cluster-name: SH

  datasource:
    username: root
    password: LA@zzx123.
    url: jdbc:mysql://43.143.152.130:3306/springcloud-demo?useUnicode=true&characterEncoding=utf-8&useSSL=false&serverTimezone=GMT%2B8


feign:
  client:
    config:
      default:
        logger-level: none
        contract: feign.default #契约配置
        connect-timeout: 30000 # 连接超时时间
        read-timeout: 5000  #请求处理超时
        request-interceptors: #拦截器
          - com.lengao.interceptor.CustomFeignInterceptor
  httpclient:
    enabled: true
    max-connections: 200
    max-connections-per-route: 50
    connection-timeout:  111
